*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	height: 100vh;
	background-color: white;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#landingpage-background {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/jeep.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 80vh;
}

.main-container {

	width: 100%;  /*Percent Para magadjust pag nagbago size screen*/
	margin: auto;
	min-height: 100vh;
}

a:link {
	text-decoration-line: none;
}

.container {
	padding: auto;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}


.container2 {
	padding: auto;
	width: 80%;
	margin: 10px auto;
	overflow: hidden;
}
.navbar-lp {
	height: 80px;
	width: 100%;
	background-color: #2E8B57;
}
.navbar-lp ul {
	float: right;
	margin-right: 10px;
}

.navbar-lp ul li {
	list-style: none;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

.navbar-lp ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
  	font-weight: lighter;
  	padding: 7px 13px;
}

.navbar-lp a:hover {
	color: #2E8B57;
	background: white;
	padding: auto;
	border-radius: 10px;
}

.navbar-lp .logo {
	width: 80px;
	height: 80px;
	line-height: 80px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.slogan-container {
	padding: 15px 15px;
	margin-top: 150px;
	text-align: center;
	margin-bottom: 10px;
}

.slogan-container h1 {
	color: white;
	font-size: 80px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

.slogan-container p {
	color: white;
	font-size: 20px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Mukta', sans-serif;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.slogan-container .btn-lp {
	background-color: #fff;
	color: #2E8B57;
	padding: 10px 15px;
	border: 2px solid #2E8B57;
	border-radius: 40px;
	font-family: 'Muli', sans-serif;
	font-weight: bolder;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 5px;
}

.slogan-container .btn-lp:hover {
	color: #fff;
	background-color: #2E8B57;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;
}

.socmed-container {
	text-align: center;
	margin-bottom: 5px;
}

.socmed-container img {
	width: 40px;
	height: 40px;
	background: white;
	margin-right: 5px;
	border: 2px solid white;
	border-radius: 40%;
	padding: 2px;
	cursor: pointer;
	transition: transform 1s;
}

.socmed-container img:hover {
	border: 2px solid white;
	border-radius: 40%;
	transform: scale(1.2);
}

.socmed-container h1 {
	font-size: 15px;
	margin-bottom: 5px;
	font-family: 'Muli', sans-serif;
	color: white;

}

footer {
	background-color: #2E8B57;
	height: auto;
	width: auto;
	margin: 0 auto;
	bottom: 0;
	text-align: center;
	clear: both;
}

.footer-lp {
  	margin: 0 auto;
  	padding: 20px 10px;
}

.footer-lp p {
	color: white;
	font-size: 14px;
	font-family: 'Muli', sans-serif;

}

/*Home Page--------------------------------------------------------------*/

.clear-fix {
	clear: both;
}

#homepage-banner {
	width: 100%;
	background-image: 
	linear-gradient(
	rgba(0, 0, 0, 0.40), 
    rgba(105,105,105, 0.55)),
	/*rgba(36, 37, 42, .6), 
    rgba(37, 116, 169, 0.70)),*/
    url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 40%; /*Responsive*/
	margin: 0 auto;
}

#homepage-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5em;
	padding-top: 90px;
	padding-left: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

#homepage-banner p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5em;
	padding-top: 5px;
	padding-left: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.block {
	float: left;
	width: 33.3%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	margin: auto;
	padding: 10px;
	overflow: hidden;
}

.block h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	background-color: #565656; 
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.block p {
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px;
	width: auto;
	height: auto;
	text-align: left;
}

.block img {
	height: 200px;
	width: 350px;
	display: inline-block;
	transition: transform 2s;
}

.block img:hover {
	transform: scale(1.2);
}

.block2 {
	float: left;
	width: 33.3%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	padding: 10px;
	overflow: hidden;
}

.block2 h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #565656; 
	font-weight: bold;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	margin: 5px;
	text-transform: uppercase;
}

.block2 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	color: white;
	border-radius: 2px;
	border: 3px solid #2E8B57;
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.block2 h2:hover {
	background-color: #2E8B57;
}

.block2 h2 a {
	color: #2E8B57;
}

.block2 h2 a:hover {
	color: white;
}


.block2 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 1s;
}

.block2 img:hover {
	transform: scale(1.2);
}


#partners {
	padding: auto;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	align-items: center;
	text-align: center;
}

#partners #partner-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: green;
	font-size: 1.6em;
	letter-spacing: 1px;
}

#partners img {
	padding: auto;
	height: 80px;
	width: 80px;
	margin: 5px;
	display: inline;
}

/*Abouts Us --------------------------------------------*/

#aboutus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/aboutus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 40vh;
}

#aboutus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0 auto;
	padding-top: 100px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#aboutus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1.6em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.block3 {
	float: left;
	width: 50%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block3 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
	margin: 5px;
}

.block3 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: left;
	margin: 5px;
}

.block3 h2 a {
	color: #2E8B57;
}

.block3 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 1s;
}

.block3 img:hover {
	transform: scale(1.2);
}

.block4 {
	float: left;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block4 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
	margin: 5px;
}


.block4 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: left;
	margin: 5px;

}

/*Gallery ----------------------------------------*/

#gallery-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/gallery.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 40vh;
}

#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0 auto;
	padding-top: 90px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1.3em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-gallery {
	width: 100%;
	min-height: 500px;
	background: #fff;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.container-gallery .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #fff;
	border: 1px solid gray;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.container-gallery .box .imgbox {
	position: relative;
	overflow: hidden;
}

.container-gallery .box .imgbox img {
	object-fit: cover; 
	/*filter: grayscale(100%);*/
	width: 300px; 
	height: 300px;
	transition: all 0.8s ease;
}
/*.container-gallery .box:hover .imgbox img {
	filter: grayscale(0%);
}*/

.container-gallery .box .details {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0, 0, 0, .8);
	transform: scaleY(0);
	transition: transform .5s;
}

/*.container-gallery .box:hover .details {
	transform: scaleY(1);
}

*/
.container-gallery .box .details .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 10px;
	color: #fff;
}

.container-gallery .box .details .content h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #fff;

}

/*Contact Us ---------------------------------*/
#contactus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.40), 
      rgba(105,105,105, 0.55)),
    url(../images/contactus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 80vh;
}

#contactus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	margin: 0 auto;
	padding-top: 50px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#contactus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1.3em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wrapper {
	position: relative;
	top: 15%;
	transform: translateY(-20%);
	width: 100%;
	padding: 0 20px;
}

.contact-form {
	max-width: 550px;
	margin: 0 auto;
	background-color: #383838;
	padding: 30px;
	border-radius: 10px;
	display: flex;
}

.input-fields {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}

.input-fields, .msg {
	width: 48%;
}

.input-fields .input, .msg textarea {
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 10px;
	color: white;
	width: 100%;
}

.msg textarea {
	height: 200px;
}

.btn a {
	background-color: #2E8B57;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	display: block;
	padding: 10px;
	font-style: 'Roboto', sans-serif;
	font-size: 1.3em;
	border-radius: 5px;
	cursor: pointer;
}

/*Response to any platforms*/
/*Landing Page-Media*/
/*Phone s5*/
/*Portrait*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

#landingpage-background {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/jeep.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 80vh;
}

.main-container {

	width: 100%;  /*Percent Para magadjust pag nagbago size screen*/
	margin: auto;
	min-height: 100vh;
}

.slogan-container {
	padding: 15px 15px;
	margin-top: 70px;
	text-align: center;
	margin-bottom: 10px;
}

.slogan-container h1 {
	color: white;
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

.slogan-container p {
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.slogan-container .btn-lp {
	background-color: #fff;
	color: #2E8B57;
	padding: 10px 15px;
	border: 2px solid #2E8B57;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	margin-top: 5px;
}

.slogan-container .btn-lp:hover {
	color: #fff;
	background-color: #2E8B57;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;
}

}

/*Landing Page-Media*/
/*Phone s5*/
/*Landscape*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

#landingpage-background {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/jeep.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 80vh;
}

.main-container {

	width: 100%;  /*Percent Para magadjust pag nagbago size screen*/
	margin: auto;
	min-height: 100vh;
}

.slogan-container {
	padding: 15px 15px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.slogan-container h1 {
	color: white;
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

.slogan-container p {
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.slogan-container .btn-lp {
	background-color: #fff;
	color: #2E8B57;
	padding: 10px 15px;
	border: 2px solid #2E8B57;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 8px;
	letter-spacing: 2px;
	margin-top: 5px;
}

.slogan-container .btn-lp:hover {
	color: #fff;
	background-color: #2E8B57;
	border: 2px solid #fff;
	border-radius: 40px;
	cursor: pointer;
}

}

/*Landing Page*/
/*Tablet or Ipad */

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {

.slogan-container {
	padding: 15px 15px;
	margin-top: 130px;
	text-align: center;
	margin-bottom: 10px;
}

.slogan-container h1 {
	color: white;
	font-size: 70px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

.slogan-container p {
	color: white;
	font-size: 15px;
	text-align: center;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	margin-bottom: 25px;
}

.slogan-container .btn-lp {
	background-color: #fff;
	color: #2E8B57;
	padding: 10px 15px;
	border: 2px solid #2E8B57;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 10px;
	letter-spacing: 2px;
	margin-top: 5px;
}

}

/*Home-Media*/
/*Phone s5*/
/*Portrait*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {


#homepage-banner {
	width: 100%;
	background-image: 
	linear-gradient(
	rgba(0, 0, 0, 0.40), 
    rgba(105,105,105, 0.55)),
    url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 40%; 
	margin: 0 auto;
}

#homepage-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.2em;
	padding-top: 60px;
	padding-left: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

#homepage-banner p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.2em;
	padding-top: 5px;
	padding-left: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.block {
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	margin: auto;
	display: inline-block;
	padding: 10px;
	overflow: hidden;
}

.block h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	background-color: #565656; 
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.block p {
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px;
	width: auto;
	height: auto;
	text-align: center;
}

.block img {
	height: 200px;
	width: 350px;
	display: inline-block;
	transition: transform 2s;
}

.block img:hover {
	transform: scale(1.2);
}

.block2 {
	width: 100%;   
	padding: 10px;
	overflow: hidden;
}

.block2 h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #565656; 
	font-weight: bold;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	margin: 5px;
	text-transform: uppercase;
}

.block2 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	color: white;
	border-radius: 15px;
	border: 3px solid #2E8B57;
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.block2 h2 a {
	color: #2E8B57;
}

.block2 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 3s;
}

.block2 img:hover {
	transform: scale(1.2);
}

#partners {
	padding: auto;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	align-items: center;
	text-align: center;
}

#partners #partner-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: green;
	font-size: 1.3em;
	letter-spacing: 1px;
}

#partners img {
	padding: auto;
	height: 50px;
	width: 50px;
	margin: 5px;
	display: inline;
}


}
/*Home-Media*/
/*Phone s5*/
/*Landscape*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {


#homepage-banner {
	width: 100%;
	background-image: 
	linear-gradient(
	rgba(0, 0, 0, 0.40), 
    rgba(105,105,105, 0.55)),
    url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 40%; /*Responsive*/
	margin: 0 auto;
}

#homepage-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.2em;
	padding-top: 30px;
	padding-left: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

#homepage-banner p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2.2em;
	padding-top: 5px;
	padding-left: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.block {
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	margin: auto;
	display: inline-block;
	padding: 10px;
	overflow: hidden;
}

.block h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	background-color: #565656; 
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.block p {
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px;
	width: auto;
	height: auto;
	text-align: center;
}

.block img {
	height: 200px;
	width: 350px;
	display: inline-block;
	transition: transform 2s;
}

.block img:hover {
	transform: scale(1.2);
}

.block2 {
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	padding: 10px;
	overflow: hidden;
}

.block2 h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #565656; 
	font-weight: bold;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	margin: 5px;
	text-transform: uppercase;
}

.block2 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	color: white;
	border-radius: 15px;
	border: 3px solid #2E8B57;
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.block2 h2 a {
	color: #2E8B57;
}

.block2 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 3s;
}

.block2 img:hover {
	transform: scale(1.2);
}

#partners {
	padding: auto;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	align-items: center;
	text-align: center;
}

#partners #partner-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: green;
	font-size: 1.3em;
	letter-spacing: 1px;
}

#partners img {
	padding: auto;
	height: 50px;
	width: 50px;
	margin: 5px;
	display: inline;
}


}

/*Home Page*/
/*Tablet or Ipad*/
/*Portrait Landscape*/
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px)
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

#homepage-banner {
	width: 100%;
	background-image: 
	linear-gradient(
	rgba(0, 0, 0, 0.40), 
    rgba(105,105,105, 0.55)),
    url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 40%; /*Responsive*/
	margin: 0 auto;
}

#homepage-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5em;
	padding-top: 120px;
	padding-left: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

#homepage-banner p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5em;
	padding-top: 5px;
	padding-left: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.block {
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	margin: auto;
	display: inline-block;
	padding: 10px;
	overflow: hidden;
}

.block h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	background-color: #565656; 
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

.block p {
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px;
	width: auto;
	height: auto;
	text-align: center;
}

.block img {
	height: 200px;
	width: 350px;
	display: inline-block;
	transition: transform 2s;
}

.block img:hover {
	transform: scale(1.2);
}

.block2 {
	width: 100%;   
	padding: 10px;
	overflow: hidden;
}

.block2 h1 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #565656; 
	font-weight: bold;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	margin: 5px;
	text-transform: uppercase;
}

.block2 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bolder;
	color: white;
	border-radius: 15px;
	border: 3px solid #2E8B57;
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.block2 h2 a {
	color: #2E8B57;
}

.block2 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 3s;
}

.block2 img:hover {
	transform: scale(1.2);
}

#partners {
	padding: auto;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	align-items: center;
	text-align: center;
}

#partners #partner-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: green;
	font-size: 1.3em;
	letter-spacing: 1px;
}

#partners img {
	padding: auto;
	height: 50px;
	width: 50px;
	margin: 5px;
	display: inline;
}


}

/*About Us-Media*/
/*Phone s5*/
/*Portrait*/
@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {


#aboutus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/aboutus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 40vh;
}

#aboutus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin: 0 auto;
	padding-top: 90px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#aboutus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.block3 {
	position: inline-block;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block3 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}

.block3 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;
}

.block3 h2 a {
	color: #2E8B57;
}

.block3 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 1s;
}

.block3 img:hover {
	transform: scale(1.2);
}

.block4 {
	float: left;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block4 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}


.block4 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;

}


}

/*About Us-Media*/
/*Phone s5*/
/*Portrait*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {


#aboutus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/aboutus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 50vh;
}

#aboutus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin: 0 auto;
	padding-top: 50px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#aboutus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.block3 {
	position: inline-block;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block3 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}

.block3 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;
}

.block3 h2 a {
	color: #2E8B57;
}

.block3 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 1s;
}

.block3 img:hover {
	transform: scale(1.2);
}

.block4 {
	float: left;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block4 h1 {
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}


.block4 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;
}
}

/*About Us-Media*/
/*Tablet Ipad*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {


#aboutus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/aboutus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 30vh;
}

#aboutus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	margin: 0 auto;
	padding-top: 100px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#aboutus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1.3em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.block3 {
	position: inline-block;
	width: 100%; 
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block3 h1 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}

.block3 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;
}

.block3 h2 a {
	color: #2E8B57;
}

.block3 img {
	height: 160px;
	width: 300px;
	margin: 10px;
	border: 2px solid white;
	display: inline-block;
	transition: transform 1s;
}

.block3 img:hover {
	transform: scale(1.2);
}

.block4 {
	float: left;
	width: 100%;   /*dinivide by 3 yung 100% kasi tatlo sila*/
	border: 1px solid white;
	padding: 10px;
	margin-top: 20px;
}

.block4 h1 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: 383838;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}


.block4 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: lighter;
	color: #545b66;
	justify-content: center;
	text-align: center;
	margin: 5px;
}
}

/*Gallery-Media*/
/*Phone s5*/
/*Portrait*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait){


#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin: 0 auto;
	padding-top: 30px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: .7em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-gallery {
	width: 100%;
	min-height: 500px;
	background: #fff;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.container-gallery .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #fff;
	border: 1px solid gray;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
}

/*Gallery-Media*/
/*Phone s5*/
/*Landscape*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape){


#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin: 0 auto;
	padding-top: 20px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: .8em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-gallery {
	width: 100%;
	min-height: 500px;
	background: #fff;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.container-gallery .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #fff;
	border: 1px solid gray;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
}

/*Gallery*/
/*Tablet or Ipad*/
/*Portrait*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait)   {


#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0 auto;
	padding-top: 120px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: .9em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-gallery {
	width: 100%;
	min-height: 500px;
	background: #fff;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.container-gallery .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: #fff;
	border: 1px solid gray;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
}

/*Gallery*/
/*Tablet or Ipad*/
/*Landscape*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape)   {


#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0 auto;
	padding-top: 90px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


}

/*Gallery*/
/*Tablet or Ipad*/
/*Portrait*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait)   {

#gallery-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(105,105,105, 0.55)),
    url(../images/gallery.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 30vh;
}

#gallery-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0 auto;
	padding-top: 90px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#gallery-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
}

/*Contact Us-Media*/
/*Phone s5*/
/*Portrait*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

#contactus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.40), 
      rgba(105,105,105, 0.55)),
    url(../images/contactus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 90vh;
}

#contactus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin: 0 auto;
	padding-top: 30px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#contactus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: .7em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wrapper {
	margin-bottom: 20px;
	margin-top: 50px;
	top: 20%;
	transform: translateY(-40%);
	width: 100%;
	padding: 0 20px;
}

.contact-form {
	flex-direction: column;
}

.input-fields, .msg {
	width: 100%;
}

.input-fields .input, .msg textarea {
	margin: 5px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 10px;
	color: white;
	width: 100%;
}

.msg textarea {
	height: 80px;
}

.btn a {
	background-color: #2E8B57;
	text-align: center;
	padding: 10px;
	font-style: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: white;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}

}

/*Contact Us-Media*/
/*Phone s5*/

/*Landscape*/

@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

#contactus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.40), 
      rgba(105,105,105, 0.55)),
    url(../images/contactus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 100vh;
}

#contactus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	margin: 0 auto;
	padding-top: 30px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#contactus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: .6em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	top: 33%;
	transform: translateY(-45%);
	width: 80%;
	padding-top: 0 auto;
}

.contact-form {
	flex-direction: row;
}

.input-fields, .msg {
	width: 100%;
}

.input-fields .input, .msg textarea {
	margin: 5px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 10px;
	color: white;
	width: 100%;
}

.msg textarea {
	height: 100px;
}

.btn a {
	background-color: #2E8B57;
	text-align: center;
	padding: 10px;
	font-style: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: white;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}

}

/*Contact Us*/
/*Tablet or Ipad*/
/*Portrait*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {

#contactus-banner {
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.40), 
      rgba(105,105,105, 0.55)),
    url(../images/contactus.jpg);
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 80vh;
}

#contactus-banner h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	margin: 0 auto;
	padding-top: 50px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

#contactus-banner p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-size: 1.4em;
	margin: 0 auto;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wrapper {
	position: relative;
	top: 15%;
	transform: translateY(-20%);
	width: 100%;
	padding: 0 20px;
}

.contact-form {
	max-width: 100%;
	min-height: 60%;
	margin: 0 auto;
	background-color: #383838;
	padding: 30px;
	border-radius: 10px;
	display: flex;
}

.input-fields {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}

.input-fields, .msg {
	width: 48%;
}

.input-fields .input, .msg textarea {
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 10px;
	color: white;
	width: 100%;
}

.msg textarea {
	height: 200px;
}

.btn a {
	background-color: #2E8B57;
	text-align: center;
	padding: 10px;
	font-style: 'Roboto', sans-serif;
	font-size: 1.3em;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

}

/*Footer-Media*/
/*Phone s5*/

@media only screen and (min-width: 360px) and (max-width: 640px) and (-webkit-device-pixel-ratio: 3){


.socmed-container {
	text-align: center;
	margin-bottom: 5px;
}

.socmed-container img {
	width: 30px;
	height: 30px;
	background: white;
	margin-right: 5px;
	border: 2px solid white;
	border-radius: 40%;
	padding: 2px;
	cursor: pointer;
	transition: transform 1s;
}

.socmed-container img:hover {
	border: 2px solid white;
	border-radius: 40%;
	transform: scale(1.2);
}

.socmed-container h1 {
	font-size: 15px;
	margin-bottom: 5px;
	font-family: 'Muli', sans-serif;
	color: white;

}

footer {
	background-color: #2E8B57;
	height: auto;
	width: auto;
	margin: 0 auto;
	bottom: 0;
	text-align: center;
	clear: both;
}

.footer-lp {
  	margin: 0 auto;
  	padding: 20px 10px;
}

.footer-lp p {
	color: white;
	font-size: 12px;
	font-family: 'Muli', sans-serif;

}

}

/*Navbar-Media*/

/*Phone S5*/
@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

.navbar-lp .logo {
    padding: auto;
  }
.checkbtn{
    display: block;
    margin-right: 30px;
    margin-top: 25px;
  }

.navbar-lp ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #383838;
    top: 80px;
    left: -100%;
    justify-content: center;
    text-align: center;
    transition: all .2s;
    z-index: 1;
  }
.navbar-lp ul li{
    display: block;
    margin: 40px 0;
    line-height: 30px;
    font-size: 14px;
  }
.navbar-lp ul li a{
    font-size: 20px;
  }
#check:checked ~ ul{
    left: 0;
  }
}

/*Navbar-Media*/
/*Phone S5 Landscape*/
@media only screen 
and (min-width: 360px) 
and (max-width: 640px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

.navbar-lp .logo {
    padding: auto;
  }
.checkbtn{
    display: block;
    margin-right: 30px;
    margin-top: 25px;
  }

.navbar-lp ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #383838;
    top: 80px;
    left: -100%;
    justify-content: center;
    text-align: center;
    transition: all .2s;
    z-index: 1;
  }
.navbar-lp ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
    font-size: 14px;
  }
.navbar-lp ul li a{
    font-size: 20px;
  }
#check:checked ~ ul{
    left: 0;
  }
}

